= form_for :product, url: products_path do |f|
  - if @product.errors.any?
    %div.error
      = pluralize(@product.errors.count, "error")

    - @product.errors.full_messages.each do |msg|
      %li
        =msg
  %p
    =f.label :name
    =f.text_field :name
    =f.label :description
    =f.text_area :description
    =f.label :photo
    =f.text_field :photo
    =f.label :sku
    =f.text_field :sku
    =f.label :price
    =f.text_field :price
    =f.label :color
    =f.text_field :color
    =f.label :size
    =f.text_field :size
  %p
    -@categories.each do |category|
      =category.name
      - if @product.categories.include?(category)
        %input{:type => 'checkbox', :name => "category[]", :value => category.id, :checked => true}
      - else
        %input{:type => 'checkbox', :name => "category[]", :value => category.id, :checked => false}
  %p
    =f.submit(value="Add Product")
