%h1 Edit Product

= form_for :product, url: product_path(@product), method: :patch do |f|

  %p
    =f.label :name
    =f.text_field :name
  %p
    =f.label :description
    =f.text_area :description
  %p
    =f.label :price
    =f.text_field :price
  %p
    =f.label :photo
    =f.text_field :photo
  %p
    =f.label :sku
    =f.text_field :sku
  %p
    =f.label :color
    =f.text_field :color
  %p
    =f.label :size
    =f.text_field :size
  %p
    = link_to 'Cancel', products_path
    = f.submit
