%h1 Edit Product

= form_for :product, url: product_path(@product), method: :patch do |f|



  - if @product.errors.any?
    %div.error
      = pluralize(@product.errors.count, "error")

    - @product.errors.full_messages.each do |msg|
      %li
        =msg

  %p
    =f.label :name
    =f.text_field :name
  %p
    =f.label :description
    =f.text_area :description
  %p
    =f.label :price
    =f.text_field :price
  %p
    =f.label :photo
    =f.text_field :photo
  %p
    =f.label :sku
    =f.text_field :sku
  %p
    =f.label :color
    =f.text_field :color
  %p
    =f.label :size
    =f.text_field :size
  %p
    -# form.collection_check_boxes(:category_ids, @product.categories, :id, :name )

    -# -@categories.each do |category|
    -#   =category.name
    -#   -category.products.each do |product|
    -#     - if product.id == @product.id
    -#       %input{:type => 'checkbox', :value => category.id, :checked => true}
    -#     - else
    -#       %input{:type => 'checkbox', :value => category.id, :checked => false}

    -@categories.each do |category|
      =category.name
      - if @product.categories.include?(category)
        %input{:type => 'checkbox', :name => "category[]", :value => category.id, :checked => true}
      - else
        %input{:type => 'checkbox', :name => "category[]", :value => category.id, :checked => false}





  %p
    = link_to 'Cancel', products_path
    = f.submit
